nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    height: 100px;
    width: 100%;
  }
  .section{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  nav a{
    color: white;
    font-size: 20px;
    font-weight: 700;
  }
  *{
    margin: 0px;
    padding: 0px;
    color: black;
  }

  .slidercont{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  input{
    width: 350px;
    accent-color: red;
  }
  #save{
    width: 250px;
    color: white;
    background-color: magenta;
  }

  .loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
    position: absolute;
    top: 30%;
    left: 46%;
    
    transform: translateX(-50%,-50%);
  
  }
  .poemm{
    width: 50%;
    border-radius: 15px;
  }
  .indicators p{
    color: #fff;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}
  @media only screen and (max-width:1300px){
    .slidercont{
      width: max-content;
      display: flex;
      align-items: start;
      gap: 25px;
      flex-direction: column;
    }
    .slider{
      width: 500px;
    }
    .sliders{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80vh;
      width: 100%;
    }
    .slidercont h3{
      font-size: 25px;
    }
    .slidercont p{
      font-size: 20px;
    }
    .poemm{
      width: 80%;
      border-radius: 15px;
    }
  }